@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Poppins, sans-serif;
  color: #666666;
  background-color: #FFFFFF;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1199.9808px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.9808px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.9808px) {
  [class*=__container] {
    max-width: none;
  }
}

[class*=__title] {
  color: #121212;
}

.title {
  text-align: center;
  font-family: CalSans;
  font-size: 44px;
  line-height: 120.454545%; /* 53px/44 */
  font-weight: 600;
}
.title span {
  color: #FF6428;
}
@media (max-width: 720px) {
  .title {
    margin-bottom: 40px;
    font-size: 32px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 131px;
  padding-top: 56px;
}
@media (max-width: 1200px) {
  .header__container {
    gap: 40px;
    padding-top: 40px;
  }
}
@media (max-width: 720px) {
  .header__container {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .header__container {
    flex-wrap: wrap;
    gap: 5px;
  }
}
.header__logo {
  max-width: 123px;
  max-height: 29px;
}
.header__logo img {
  max-height: 100%;
}
.header__menu {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.801);
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}
@media (max-width: 1200px) {
  .menu__list {
    gap: 20px;
  }
}
.menu__link {
  font-weight: 500;
  line-height: 150%; /* 24px/16 */
  color: inherit;
  opacity: 0.4;
}
.menu__link:hover {
  text-decoration: underline;
}

.page {
  flex: 1 1 auto;
}

.page__main {
  padding-bottom: 80px;
}
@media (max-width: 992px) {
  .page__main {
    padding-bottom: 0px;
  }
}

.page__store {
  padding-top: 80px;
  padding-bottom: 90px;
}
@media (max-width: 992px) {
  .page__store {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.9808px) {
  .page__store {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page__categories {
  padding-top: 90px;
  padding-bottom: 110px;
}
@media (max-width: 992px) {
  .page__categories {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.9808px) {
  .page__categories {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page__brands {
  padding-top: 110px;
  padding-bottom: 180px;
}
@media (max-width: 992px) {
  .page__brands {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.9808px) {
  .page__brands {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page__why {
  background-color: #121212;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media (max-width: 992px) {
  .page__why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.9808px) {
  .page__why {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page__customers {
  padding-top: 240px;
  padding-bottom: 120px;
}
@media (max-width: 992px) {
  .page__customers {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.9808px) {
  .page__customers {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page__favorite {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 992px) {
  .page__favorite {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.9808px) {
  .page__favorite {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main__container {
  display: flex;
}
.main__content {
  flex: 0 1 50%;
  align-self: flex-end;
  padding-top: 120px;
  padding-bottom: 66px;
}
@media (max-width: 1024px) {
  .main__content {
    flex: 0 1 60%;
  }
}
@media (max-width: 720px) {
  .main__content {
    flex: 0 1 100%;
    padding-bottom: 20px;
  }
}
.main__title {
  font-family: CalSans;
  font-size: 56px;
  line-height: 119.642857%; /* 67px/56 */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main__title span {
  color: #FF6428;
}
.main__title:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 720px) {
  .main__title {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .main__title {
    font-size: 36px;
  }
}
.main__text {
  max-width: 400px;
  line-height: 150%; /* 24px/16 */
  font-weight: 500;
}
.main__text:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 720px) {
  .main__text {
    max-width: 100%;
    text-align: center;
  }
}
.main__actions {
  display: flex;
  align-items: center;
}
@media (max-width: 720px) {
  .main__actions {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .main__actions {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
.main__banner {
  padding-left: 50px;
  flex: 0 1 50%;
}
@media (max-width: 1024px) {
  .main__banner {
    padding-left: 20px;
    flex: 0 1 40%;
  }
}
@media (max-width: 720px) {
  .main__banner {
    display: none;
  }
}

.actions-main__button {
  display: inline-flex;
  padding: 15px 48px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #FF6428;
  transition: all 0.3s ease 0s;
  color: #FFFFFF;
  line-height: 150%; /* 24px/16 */
  font-weight: 600;
}
.actions-main__button:hover {
  background-color: #b8481c;
}
.actions-main__button:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 480px) {
  .actions-main__button {
    width: 100%;
  }
  .actions-main__button:not(:last-child) {
    margin-right: 0px;
  }
}
.actions-main__icons {
  display: flex;
  max-height: 32px;
}
.actions-main__icon:not(:last-child) {
  margin-right: 28px;
}

.banner-main__image {
  position: relative;
  margin-right: -125px;
  max-width: 672px;
  padding-bottom: 107.6%;
}
.banner-main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 160px 360px;
  max-width: 100%;
}
.banner-main__image::after {
  position: absolute;
  content: "";
  background: url(/img/main/decor.svg) 0 0 no-repeat;
  width: 80px;
  height: 80px;
  bottom: 0;
  right: 36.3%;
  transform: translate(0, 50%);
}

.store__title {
  margin-bottom: 92px;
}
@media (max-width: 480px) {
  .store__title {
    margin-bottom: 40px;
  }
}
.store__body:not(:last-child) {
  margin-bottom: 102px;
}
@media (max-width: 720px) {
  .store__body:not(:last-child) {
    margin-bottom: 50px;
  }
}

.body-store__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 32px;
}
.body-store__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%; /* 30px/20 */
  letter-spacing: 1.6px;
}
@media (max-width: 720px) {
  .body-store__title {
    font-size: 16px;
  }
}
.body-store__all {
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30px/20 */
}
@media (max-width: 720px) {
  .body-store__all {
    font-size: 16px;
  }
}
.body-store__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}
@media (max-width: 992px) {
  .body-store__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 720px) {
  .body-store__items {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 24px;
  }
}
.body-store__item {
  display: flex;
  flex-direction: column;
}

.item-store__image {
  max-height: 190px;
  transition: all 0.3s ease 0s;
}
.item-store__image img {
  max-width: 100%;
  max-height: 100%;
}
.item-store__image:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 720px) {
  .item-store__image:not(:last-child) {
    margin-bottom: 20px;
  }
}
.item-store__image:hover {
  transform: scale(1.1);
}
.item-store__title {
  align-self: flex-start;
  font-weight: 500;
  line-height: 150%; /* 24px/16 */
}
.item-store__title:not(:last-child) {
  margin-bottom: 7px;
}
.item-store__title:hover {
  text-decoration: underline;
}
.item-store__price {
  font-size: 14px;
  line-height: 150%; /* 21px/14 */
}

.categories__container {
  max-width: 1088px;
}
.categories__title {
  margin-bottom: 80px;
}
@media (max-width: 480px) {
  .categories__title {
    margin-bottom: 40px;
  }
}
.categories__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 35px;
}
@media (max-width: 992px) {
  .categories__list {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
@media (max-width: 767.9808px) {
  .categories__list {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
@media (max-width: 480px) {
  .categories__list {
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
    row-gap: 20px;
  }
}

.item-category {
  position: relative;
}
.item-category:hover .item-category__image img {
  transform: scale(1.1);
}
.item-category__title {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 30px 20px;
  font-size: 20px;
  line-height: 150%; /* 30px/20 */
  font-weight: 600;
  color: #FFFFFF;
  z-index: 4;
}
.item-category__image {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  padding-bottom: 127%;
}
.item-category__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}
.item-category__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease 0s;
}

.brands__container {
  max-width: 1020px;
}
.brands__title {
  margin-bottom: 75px;
}
@media (max-width: 480px) {
  .brands__title {
    margin-bottom: 15px;
  }
}
.brands__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 160px;
       column-gap: 160px;
  row-gap: 80px;
}
@media (max-width: 992px) {
  .brands__list {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
@media (max-width: 767.9808px) {
  .brands__list {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
@media (max-width: 480px) {
  .brands__list {
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
    row-gap: 35px;
  }
}
.brands__item {
  text-align: center;
}

.item-brand:hover .item-brand__image img {
  transform: scale(1.1);
}
.item-brand__image {
  display: inline-block;
}
.item-brand__image img {
  max-width: 100%;
  transition: all 0.3s ease 0s;
}

.why__title {
  color: #FFFFFF;
  margin-bottom: 75px;
}
@media (max-width: 480px) {
  .why__title {
    margin-bottom: 15px;
  }
}
.why__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 520px) {
  .why__list {
    flex-direction: column;
    align-items: center;
  }
}
.why__item {
  flex: 0 1 33.33%;
  height: 100%;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767.9808px) {
  .why__item {
    flex: 0 1 50%;
    margin-bottom: 25px;
  }
}

.item-why__icon {
  background-color: #262626;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
}
.item-why__icon:not(:last-child) {
  margin-bottom: 40px;
}
.item-why__icon img {
  max-width: 100%;
}
.item-why__title {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%; /* 27px/18 */
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.item-why__title:not(:last-child) {
  margin-bottom: 12px;
}
.item-why__text {
  text-align: center;
  font-size: 14px;
  line-height: 150%; /* 21px/14 */
  text-transform: capitalize;
}

.customers__title {
  margin-bottom: 110px;
}
@media (max-width: 992px) {
  .customers__title {
    margin-bottom: 80px;
  }
}
@media (max-width: 767.9808px) {
  .customers__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .customers__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  .customers__swiper .swiper {
    margin-left: -15px;
  }
}

.slide-swiper-customers {
  display: flex;
}
@media (max-width: 992px) {
  .slide-swiper-customers {
    flex-direction: column;
  }
}
.slide-swiper-customers__picture {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-swiper-customers__image {
  width: 320px;
  height: 320px;
  position: relative;
}
@media (max-width: 520px) {
  .slide-swiper-customers__image {
    width: 260px;
    height: 260px;
  }
}
.slide-swiper-customers__image::before {
  content: "";
  position: absolute;
  top: 38px;
  right: 90px;
  width: 284.724px;
  height: 257.893px;
  transform: rotate(-7.724deg);
  border-radius: 40px 0px 400px 400px;
  background: #FF6428;
}
@media (max-width: 520px) {
  .slide-swiper-customers__image::before {
    width: 200px;
    height: 150px;
  }
}
.slide-swiper-customers__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  -o-object-fit: center;
     object-fit: center;
}
.slide-swiper-customers__body {
  flex: 0 1 50%;
  padding-top: 30px;
}
@media (max-width: 992px) {
  .slide-swiper-customers__body {
    padding-left: 15px;
  }
}
.slide-swiper-customers__text {
  font-size: 24px;
  line-height: 160%; /* 38.4px */
}
@media (max-width: 992px) {
  .slide-swiper-customers__text {
    font-size: 18px;
  }
}
.slide-swiper-customers__text:not(:last-child) {
  margin-bottom: 56px;
}
.slide-swiper-customers__text p:not(:last-child) {
  margin-bottom: 15px;
}
.slide-swiper-customers__name {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 160%; /* 38.4px */
}
.slide-swiper-customers__name:not(:last-child) {
  margin-bottom: 8px;
}
.slide-swiper-customers__role {
  color: #868686;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.swiper-customers__pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
}
.swiper-customers__pagination .swiper-pagination-bullet {
  flex: 0 0 10px;
  height: 16px;
  border-radius: 20px;
  background: #c4c4c4;
}
.swiper-customers__pagination .swiper-pagination-bullet-active {
  transform: rotate(-90deg);
  flex: 0 0 12px;
  height: 24px;
  background: #FF6428;
}

.favorite__content {
  display: flex;
  align-items: center;
}
@media (max-width: 767.9808px) {
  .favorite__content {
    flex-direction: column;
  }
}
.favorite__body {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.favorite__title {
  text-align: left;
  font-size: 48px;
  line-height: 139.583333%; /* 67px/48 */
}
.favorite__title:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .favorite__title {
    font-size: 32px;
  }
  .favorite__title:not(:last-child) {
    margin-bottom: 40px;
  }
}
.favorite__bages {
  display: flex;
}
@media (max-width: 767.9808px) {
  .favorite__bages {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .favorite__bages {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
.favorite__bage {
  display: block;
}
.favorite__bage:not(:last-child) {
  margin-right: 26px;
}
@media (max-width: 767.9808px) {
  .favorite__bage:not(:last-child) {
    margin-bottom: 20px;
  }
}
.favorite__link {
  display: inline-block;
}
.favorite__link img {
  max-width: 100%;
}
.favorite__image {
  flex: 0 1 50%;
  text-align: center;
}
.favorite__image img {
  max-width: 100%;
}

.footer {
  background-color: #EEEEEE;
}
.footer__container {
  padding-top: 80px;
  padding-bottom: 45px;
}
@media (max-width: 560px) {
  .footer__container {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}
.footer__body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  gap: 30px;
}
@media (max-width: 1024px) {
  .footer__body {
    margin-bottom: 50px;
  }
}
@media (max-width: 560px) {
  .footer__body {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}
.footer__copy {
  text-align: center;
}

@media (max-width: 1024px) {
  .body-footer__column:first-child {
    flex: 1 1 100%;
  }
}
.body-footer__column_full {
  flex: 1 1 auto;
}
.body-footer__logo {
  display: inline-block;
  height: 48px;
  width: 102px;
}
.body-footer__logo:not(:last-child) {
  margin-bottom: 28px;
}
.body-footer__logo img {
  max-height: 100%;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-footer__link {
  display: inline-block;
  line-height: 24px;
  padding-left: 44px;
  color: #666666;
}
.contacts-footer__link_mail {
  background: url(/img/footer/sms.svg) left no-repeat;
}
.contacts-footer__link_location {
  background: url(/img/footer/location.svg) left no-repeat;
}

.menu-footer {
  display: flex;
  justify-content: center;
  gap: 120px;
}
@media (max-width: 1024px) {
  .menu-footer {
    justify-content: flex-start;
  }
}
@media (max-width: 560px) {
  .menu-footer {
    justify-content: center;
    gap: 40px;
  }
}
.menu-footer__title {
  color: #121212;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%; /* 27px/18 */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 16px;
}
.menu-footer__link {
  color: rgba(18, 18, 18, 0.6);
  font-weight: 400;
  line-height: 150%; /* 24px/16 */
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.socials-footer__title {
  color: #121212;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%; /* 27px/18 */
  text-transform: uppercase;
  margin-bottom: 12px;
}
.socials-footer__list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.socials-footer__item {
  width: 32px;
  height: 33px;
}
.socials-footer__link img {
  max-height: 100%;
}