//========COLORS========//
$main-text-color:#666666;
$dark-text-color:#121212;
$light-text-color:#FFFFFF;
$black-text-color:#000000;

$primary-color:#FF6428;

$white-bgd-color:#FFFFFF;
$light-bgd-color:#EEEEEE;
$dark-bgd-color:#121212;
