@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
@font-face {
   font-family: CalSans;
   font-display: swap;
   src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
}
@import "_nullstyle.scss";
@import "_variables.scss";

body {
   font-family: Poppins, sans-serif;
   color: $main-text-color;
   background-color: $white-bgd-color;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 76.875rem;
   margin: 0 auto;
   padding: 0 0.9375rem;
   @media (max-width: 74.9988em) {
      max-width: 60.625rem;
   }
   @media (max-width: 61.9988em) {
      max-width: 46.875rem;
   }
   @media (max-width: 47.9988em) {
      max-width: none;
   }
}
[class*="__title"] {
   color: $dark-text-color;
}
.title {
   text-align: center;
   font-family: CalSans;
   font-size: 2.75rem;
   line-height: 120.454545%; /* 53px/44 */
   font-weight: 600;
   span {
      color: $primary-color;
   }
   @media (max-width: 45em) {
      margin-bottom: 2.5rem;
      font-size: 2rem;
   }
}

//===========HEADER============//
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
   &__container {
      display: flex;
      align-items: center;
      gap: 8.1875rem;
      padding-top: 3.5rem;
      @media (max-width: 75em) {
         gap: 2.5rem;
         padding-top: 2.5rem;
      }
      @media (max-width: 45em) {
         justify-content: center;
      }
      @media (max-width: 30em) {
         flex-wrap: wrap;
         gap: 0.3125rem;
      }
   }
   &__logo {
      max-width: 7.6875rem;
      max-height: 1.8125rem;
      img {
         max-height: 100%;
      }
   }
   &__menu {
      padding: 0.625rem 0.9375rem;
      border-radius: 0.3125rem;
      background-color: rgba(255, 255, 255, 0.801);
   }
}
.menu {
   &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.5rem;
      @media (max-width: 75em) {
         gap: 1.25rem;
      }
   }
   &__link {
      font-weight: 500;
      line-height: 150%; /* 24px/16 */
      color: inherit;
      opacity: 0.4;
      &:hover {
         text-decoration: underline;
      }
   }
}

//================PAGES=============//
.page {
   flex: 1 1 auto;
}
.page {
   &__main {
      padding-bottom: 5rem;
      @media (max-width: 62em) {
         padding-bottom: 0px;
      }
   }
}
.page {
   &__store {
      padding-top: 5rem;
      padding-bottom: 5.625rem;
      @media (max-width: 62em) {
         padding-top: 3.125rem;
         padding-bottom: 3.125rem;
      }
      @media (max-width: 47.9988em) {
         padding-top: 1.875rem;
         padding-bottom: 1.875rem;
      }
   }
}
.page {
   &__categories {
      padding-top: 5.625rem;
      padding-bottom: 6.875rem;
      @media (max-width: 62em) {
         padding-top: 3.125rem;
         padding-bottom: 3.125rem;
      }
      @media (max-width: 47.9988em) {
         padding-top: 1.875rem;
         padding-bottom: 1.875rem;
      }
   }
}
.page {
   &__brands {
      padding-top: 6.875rem;
      padding-bottom: 5.625rem;
      @media (max-width: 62em) {
         padding-top: 3.125rem;
         padding-bottom: 3.125rem;
      }
      @media (max-width: 47.9988em) {
         padding-top: 1.875rem;
         padding-bottom: 1.875rem;
      }
   }
}
.page {
   &__why {
      background-color: $extra-dark-bgd-color;
      padding-top: 5.875rem;
      padding-bottom: 5.875rem;
      @media (max-width: 62em) {
         padding-top: 3.125rem;
         padding-bottom: 3.125rem;
      }
      @media (max-width: 47.9988em) {
         padding-top: 1.875rem;
         padding-bottom: 1.875rem;
      }
   }
}
.page {
   &__customers {
      padding-top: 15rem;
      padding-bottom: 7.5rem;
      @media (max-width: 62em) {
         padding-top: 3.125rem;
         padding-bottom: 3.125rem;
      }
      @media (max-width: 47.9988em) {
         padding-top: 1.875rem;
         padding-bottom: 1.875rem;
      }
   }
}
.page {
   &__favorite {
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;
      @media (max-width: 62em) {
         padding-top: 3.125rem;
         padding-bottom: 3.125rem;
      }
      @media (max-width: 47.9988em) {
         padding-top: 1.875rem;
         padding-bottom: 1.875rem;
      }
   }
}

//================PAGE_MAIN=============//
.main {
   &__container {
      display: flex;
   }
   &__content {
      flex: 0 1 50%;
      @media (max-width: 64em) {
         flex: 0 1 60%;
      }
      @media (max-width: 45em) {
         flex: 0 1 100%;
         padding-bottom: 1.25rem;
      }
      align-self: flex-end;
      padding-top: 7.5rem;
      padding-bottom: 4.125rem;
   }
   &__title {
      font-family: CalSans;
      font-size: 3.5rem;
      line-height: 119.642857%; /* 67px/56 */
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      span {
         color: $primary-color;
      }
      &:not(:last-child) {
         margin-bottom: 0.625rem;
      }
      @media (max-width: 45em) {
         text-align: center;
      }
      @media (max-width: 30em) {
         font-size: 2.25rem;
      }
   }
   &__text {
      max-width: 25rem;
      line-height: 150%; /* 24px/16 */
      font-weight: 500;
      &:not(:last-child) {
         margin-bottom: 2rem;
      }
      @media (max-width: 45em) {
         max-width: 100%;
         text-align: center;
      }
   }
   &__actions {
      display: flex;
      align-items: center;
      @media (max-width: 45em) {
         justify-content: center;
      }
      @media (max-width: 30em) {
         flex-direction: column-reverse;
         gap: 1.25rem;
      }
   }
   &__banner {
      padding-left: 3.125rem;
      flex: 0 1 50%;
      @media (max-width: 64em) {
         padding-left: 1.25rem;
         flex: 0 1 40%;
      }
      @media (max-width: 45em) {
         display: none;
      }
   }
}
.actions-main {
   &__button {
      display: inline-flex;
      padding: 0.9375rem 3rem;
      justify-content: center;
      align-items: center;
      border-radius: 2.5rem;
      background-color: $primary-color;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: #b8481c;
      }
      color: $light-text-color;
      line-height: 150%; /* 24px/16 */
      font-weight: 600;
      &:not(:last-child) {
         margin-right: 2.5rem;
      }
      @media (max-width: 30em) {
         &:not(:last-child) {
            margin-right: 0px;
         }
         width: 100%;
      }
   }
   &__icons {
      display: flex;
      max-height: 2rem;
   }
   &__icon {
      &:not(:last-child) {
         margin-right: 1.75rem;
      }
   }
}
.banner-main {
   &__image {
      position: relative;
      margin-right: -7.8125rem;
      max-width: 42rem;
      padding-bottom: 107.6%;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         border-radius: 0 0 10rem 22.5rem;
         max-width: 100%;
      }
      &::after {
         position: absolute;
         content: "";
         background: url(../img/main/decor.svg) 0 0 no-repeat;
         width: 5rem;
         height: 5rem;
         bottom: 0;
         right: 36.3%;
         transform: translate(0, 50%);
      }
   }
}

//=================PAGE_STORE=============//
.store {
   &__title {
      margin-bottom: 5.75rem;
      @media (max-width: 30em) {
         margin-bottom: 2.5rem;
      }
   }
   &__body {
      &:not(:last-child) {
         margin-bottom: 6.375rem;
         @media (max-width: 45em) {
            margin-bottom: 3.125rem;
         }
      }
   }
}
.body-store {
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.9375rem;
      margin-bottom: 2rem;
   }
   &__title {
      text-transform: uppercase;
      font-size: 1.25rem;
      @media (max-width: 45em) {
         font-size: 1rem;
      }
      font-weight: 600;
      line-height: 150%; /* 30px/20 */
      letter-spacing: 0.1rem;
   }
   &__all {
      color: $main-text-color;
      font-size: 1.25rem;
      @media (max-width: 45em) {
         font-size: 1rem;
      }
      font-weight: 500;
      line-height: 150%; /* 30px/20 */
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.375rem;
      @media (max-width: 62em) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 45em) {
         grid-template-columns: repeat(1, 1fr);
         justify-items: center;
         gap: 1.5rem;
      }
   }
   &__item {
      display: flex;
      flex-direction: column;
   }
}
.item-store {
   &__image {
      max-height: 11.875rem;
      img {
         max-width: 100%;
         max-height: 100%;
      }
      &:not(:last-child) {
         margin-bottom: 2.5rem;
         @media (max-width: 45em) {
            margin-bottom: 1.25rem;
         }
      }
      transition: all 0.3s ease 0s;
      &:hover {
         transform: scale(1.1);
      }
   }
   &__title {
      align-self: flex-start;
      font-weight: 500;
      line-height: 150%; /* 24px/16 */
      &:not(:last-child) {
         margin-bottom: 0.4375rem;
      }
      &:hover {
         text-decoration: underline;
      }
   }
   &__price {
      font-size: 0.875rem;
      line-height: 150%; /* 21px/14 */
   }
}

//=================PAGE_CATEGORIES=============//
.categories {
   &__container {
      max-width: 68rem;
   }
   &__title {
      margin-bottom: 5rem;
      @media (max-width: 30em) {
         margin-bottom: 2.5rem;
      }
   }
   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 4.375rem;
      @media (max-width: 62em) {
         grid-template-columns: repeat(3, 1fr);
         column-gap: 2.1875rem;
      }
      @media (max-width: 47.9988em) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 30em) {
         grid-template-columns: repeat(1, 1fr);
         row-gap: 1.25rem;
      }
      row-gap: 2.1875rem;
   }
}
.item-category {
   position: relative;
   &:hover .item-category__image img {
      transform: scale(1.1);
   }
   &__title {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center;
      padding: 1.875rem 1.25rem;
      font-size: 1.25rem;
      line-height: 150%; /* 30px/20 */
      font-weight: 600;
      color: $light-text-color;
      z-index: 4;
   }
   &__image {
      display: block;
      position: relative;
      overflow: hidden;
      border-radius: 1.25rem;
      &::before {
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
         z-index: 2;
      }
      padding-bottom: 127%;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         transition: all 0.3s ease 0s;
      }
   }
}

//=================PAGE_BRANDS=============//
.brands {
   &__container {
      max-width: 63.75rem;
   }
   &__title {
      margin-bottom: 4.6875rem;
      @media (max-width: 30em) {
         margin-bottom: 0.9375rem;
      }
   }
   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 10rem;
      row-gap: 5rem;
      @media (max-width: 62em) {
         grid-template-columns: repeat(3, 1fr);
         column-gap: 2.1875rem;
      }
      @media (max-width: 47.9988em) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 30em) {
         grid-template-columns: repeat(1, 1fr);
         row-gap: 2.1875rem;
      }
   }
   &__item {
      text-align: center;
   }
}
.item-brand {
   &:hover .item-brand__image img {
      transform: scale(1.1);
   }
   &__image {
      display: inline-block;
      img {
         max-width: 100%;
         transition: all 0.3s ease 0s;
      }
   }
}

//=================PAGE_WHY=============//
.why {
   &__title {
      color: $light-text-color;
      margin-bottom: 4.6875rem;
      @media (max-width: 30em) {
         margin-bottom: 0.9375rem;
      }
   }
   &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 32.5em) {
         flex-direction: column;
         align-items: center;
      }
   }
   &__item {
      flex: 0 1 33.33%;
      height: 100%;
      @media (max-width: 47.9988em) {
         flex: 0 1 50%;
         margin-bottom: 1.5625rem;
      }
      max-width: 14.375rem;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}
.item-why {
   &__icon {
      background-color: $dark-bgd-color;
      border-radius: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4.5rem;
      height: 4.5rem;
      &:not(:last-child) {
         margin-bottom: 2.5rem;
      }
      img {
         max-width: 100%;
      }
   }
   &__title {
      color: $light-text-color;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 150%; /* 27px/18 */
      letter-spacing: 0.09rem;
      text-transform: uppercase;
      &:not(:last-child) {
         margin-bottom: 0.75rem;
      }
   }
   &__text {
      text-align: center;
      font-size: 0.875rem;
      line-height: 150%; /* 21px/14 */
      text-transform: capitalize;
   }
}

//============PAGE_CUSTOMERS=============//
.customers {
   &__title {
      margin-bottom: 6.875rem;
      @media (max-width: 62em) {
         margin-bottom: 5rem;
      }
      @media (max-width: 47.9988em) {
         margin-bottom: 3.125rem;
      }
      @media (max-width: 30em) {
         margin-bottom: 2.5rem;
      }
   }
}
.customers {
   &__swiper {
      .swiper {
         @media (max-width: 62em) {
            margin-left: -0.9375rem;
         }
      }
   }
}
.slide-swiper-customers {
   display: flex;
   @media (max-width: 62em) {
      flex-direction: column;
   }
   &__picture {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__image {
      width: 20rem;
      height: 20rem;
      @media (max-width: 32.5em) {
         width: 16.25rem;
         height: 16.25rem;
      }
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 2.375rem;
         right: 5.625rem;
         width: 17.7952rem;
         height: 16.1183rem;
         transform: rotate(-7.724deg);
         border-radius: 2.5rem 0px 25rem 25rem;
         background: $primary-color;
         @media (max-width: 32.5em) {
            width: 12.5rem;
            height: 9.375rem;
         }
      }
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         top: 0;
         left: 0;
         object-fit: center;
      }
   }
   &__body {
      flex: 0 1 50%;
      padding-top: 1.875rem;
      @media (max-width: 62em) {
         padding-left: 0.9375rem;
      }
   }
   &__text {
      font-size: 1.5rem;
      @media (max-width: 62em) {
         font-size: 1.125rem;
      }
      line-height: 160%; /* 38.4px */
      &:not(:last-child) {
         margin-bottom: 3.5rem;
      }
      p:not(:last-child) {
         margin-bottom: 0.9375rem;
      }
   }
   &__name {
      color: #000;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 160%; /* 38.4px */
      &:not(:last-child) {
         margin-bottom: 0.5rem;
      }
   }
   &__role {
      color: #868686;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 160%; /* 28.8px */
      letter-spacing: 0.09rem;
      text-transform: uppercase;
   }
}
.swiper-customers__pagination {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   justify-content: flex-end;
   .swiper-pagination-bullet {
      flex: 0 0 0.625rem;
      height: 1rem;
      border-radius: 1.25rem;
      background: #c4c4c4;
      &-active {
         transform: rotate(-90deg);
         flex: 0 0 0.75rem;
         height: 1.5rem;
         background: $primary-color;
      }
   }
}

//=================PAGE_FAVORITE=============//
.favorite {
   &__content {
      display: flex;
      @media (max-width: 47.9988em) {
         flex-direction: column;
      }
      @media (max-width: 30em) {
      }
      align-items: center;
   }
   &__body {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &__title {
      text-align: left;
      font-size: 3rem;
      line-height: 139.583333%; /* 67px/48 */
      &:not(:last-child) {
         margin-bottom: 3.75rem;
      }
      @media (max-width: 48em) {
         &:not(:last-child) {
            margin-bottom: 2.5rem;
         }
         font-size: 2rem;
      }
   }
   &__bages {
      display: flex;
      @media (max-width: 47.9988em) {
         justify-content: center;
         align-items: center;
      }
      @media (max-width: 30em) {
         flex-direction: column;
         gap: 0.625rem;
         align-items: center;
      }
   }
   &__bage {
      display: block;
      &:not(:last-child) {
         margin-right: 1.625rem;
      }
      @media (max-width: 47.9988em) {
         &:not(:last-child) {
            margin-bottom: 1.25rem;
         }
      }
   }
   &__link {
      display: inline-block;
      img {
         max-width: 100%;
      }
   }
   &__image {
      flex: 0 1 50%;
      text-align: center;
      img {
         max-width: 100%;
      }
   }
}

//=================FOOTER=============//
.footer {
   background-color: $light-bgd-color;
   &__container {
      padding-top: 5rem;
      padding-bottom: 2.8125rem;
      @media (max-width: 35em) {
         padding-top: 1.25rem;
         padding-bottom: 0.9375rem;
      }
   }
   &__body {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5rem;
      gap: 1.875rem;
      @media (max-width: 64em) {
         margin-bottom: 3.125rem;
      }
      @media (max-width: 35em) {
         flex-direction: column;
         align-items: center;
         margin-bottom: 1.875rem;
      }
   }
   &__copy {
      text-align: center;
   }
}
.body-footer {
   &__column {
      @media (max-width: 64em) {
         &:first-child {
            flex: 1 1 100%;
         }
      }
      &_full {
         flex: 1 1 auto;
      }
   }
   &__logo {
      display: inline-block;
      height: 3rem;
      &:not(:last-child) {
         margin-bottom: 1.75rem;
      }
      img {
         max-height: 100%;
      }
   }
}
.contacts-footer {
   &__item {
      &:not(:last-child) {
         margin-bottom: 1.25rem;
      }
   }
   &__link {
      display: inline-block;
      line-height: 1.5rem;
      padding-left: 2.75rem;
      color: $main-text-color;
      &_mail {
         background: url(../img/footer/sms.svg) left no-repeat;
      }
      &_location {
         background: url(../img/footer/location.svg) left no-repeat;
      }
   }
}
.menu-footer {
   display: flex;
   justify-content: center;
   gap: 7.5rem;
   @media (max-width: 64em) {
      justify-content: flex-start;
   }
   @media (max-width: 35em) {
      justify-content: center;
      gap: 2.5rem;
   }
   &__title {
      color: $dark-text-color;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 150%; /* 27px/18 */
      text-transform: uppercase;
      margin-bottom: 1.25rem;
   }
   &__item {
      &:not(:last-child) {
         margin-bottom: 1rem;
      }
   }
   &__link {
      color: rgba(18, 18, 18, 0.6);
      font-weight: 400;
      line-height: 150%; /* 24px/16 */
      &:hover {
         text-decoration: underline;
      }
   }
}
.socials-footer {
   &__title {
      color: $dark-text-color;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 150%; /* 27px/18 */
      text-transform: uppercase;
      margin-bottom: 0.75rem;
   }
   &__list {
      display: flex;
      align-items: center;
      gap: 2rem;
   }
   &__item {
      width: 2rem;
      height: 2.0625rem;
   }
   &__link {
      img {
         max-height: 100%;
      }
   }
}
