@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
@font-face {
   font-family: CalSans;
   font-display: swap;
   src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
}
@import "_nullstyle.scss";
@import "_variables.scss";

body {
   font-family: Poppins, sans-serif;
   color: $main-text-color;
   background-color: $white-bgd-color;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
   @media (max-width: 1199.9808px) {
      max-width: 970px;
   }
   @media (max-width: 991.9808px) {
      max-width: 750px;
   }
   @media (max-width: 767.9808px) {
      max-width: none;
   }
}
[class*="__title"] {
   color: $dark-text-color;
}
.title {
   text-align: center;
   font-family: CalSans;
   font-size: 44px;
   line-height: 120.454545%; /* 53px/44 */
   font-weight: 600;
   span {
      color: $primary-color;
   }
   @media (max-width: 720px) {
      margin-bottom: 40px;
      font-size: 32px;
   }
}

//===========HEADER============//
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
   &__container {
      display: flex;
      align-items: center;
      gap: 131px;
      padding-top: 56px;
      @media (max-width: 1200px) {
         gap: 40px;
         padding-top: 40px;
      }
      @media (max-width: 720px) {
         justify-content: center;
      }
      @media (max-width: 480px) {
         flex-wrap: wrap;
         gap: 5px;
      }
   }
   &__logo {
      max-width: 123px;
      max-height: 29px;
      img {
         max-height: 100%;
      }
   }
   &__menu {
      padding: 10px 15px;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.801);
   }
}
.menu {
   &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 56px;
      @media (max-width: 1200px) {
         gap: 20px;
      }
   }
   &__link {
      font-weight: 500;
      line-height: 150%; /* 24px/16 */
      color: inherit;
      opacity: 0.4;
      &:hover {
         text-decoration: underline;
      }
   }
}

//================PAGES=============//
.page {
   flex: 1 1 auto;
}
.page {
   &__main {
      padding-bottom: 80px;
      @media (max-width: 992px) {
         padding-bottom: 0px;
      }
   }
}
.page {
   &__store {
      padding-top: 80px;
      padding-bottom: 90px;
      @media (max-width: 992px) {
         padding-top: 50px;
         padding-bottom: 50px;
      }
      @media (max-width: 767.9808px) {
         padding-top: 30px;
         padding-bottom: 30px;
      }
   }
}
.page {
   &__categories {
      padding-top: 90px;
      padding-bottom: 110px;
      @media (max-width: 992px) {
         padding-top: 50px;
         padding-bottom: 50px;
      }
      @media (max-width: 767.9808px) {
         padding-top: 30px;
         padding-bottom: 30px;
      }
   }
}
.page {
   &__brands {
      padding-top: 110px;
      padding-bottom: 90px;
      @media (max-width: 992px) {
         padding-top: 50px;
         padding-bottom: 50px;
      }
      @media (max-width: 767.9808px) {
         padding-top: 30px;
         padding-bottom: 30px;
      }
   }
}
.page {
   &__why {
      background-color: $extra-dark-bgd-color;
      padding-top: 94px;
      padding-bottom: 94px;
      @media (max-width: 992px) {
         padding-top: 50px;
         padding-bottom: 50px;
      }
      @media (max-width: 767.9808px) {
         padding-top: 30px;
         padding-bottom: 30px;
      }
   }
}
.page {
   &__customers {
      padding-top: 240px;
      padding-bottom: 120px;
      @media (max-width: 992px) {
         padding-top: 50px;
         padding-bottom: 50px;
      }
      @media (max-width: 767.9808px) {
         padding-top: 30px;
         padding-bottom: 30px;
      }
   }
}
.page {
   &__favorite {
      padding-top: 120px;
      padding-bottom: 120px;
      @media (max-width: 992px) {
         padding-top: 50px;
         padding-bottom: 50px;
      }
      @media (max-width: 767.9808px) {
         padding-top: 30px;
         padding-bottom: 30px;
      }
   }
}
//================PAGE_MAIN=============//
.main {
   &__container {
      display: flex;
   }
   &__content {
      flex: 0 1 50%;
      @media (max-width: 1024px) {
         flex: 0 1 60%;
      }
      @media (max-width: 720px) {
         flex: 0 1 100%;
         padding-bottom: 20px;
      }
      align-self: flex-end;
      padding-top: 120px;
      padding-bottom: 66px;
   }
   &__title {
      font-family: CalSans;
      font-size: 56px;
      line-height: 119.642857%; /* 67px/56 */
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      span {
         color: $primary-color;
      }
      &:not(:last-child) {
         margin-bottom: 10px;
      }
      @media (max-width: 720px) {
         text-align: center;
      }
      @media (max-width: 480px) {
         font-size: 36px;
      }
   }
   &__text {
      max-width: 400px;
      line-height: 150%; /* 24px/16 */
      font-weight: 500;
      &:not(:last-child) {
         margin-bottom: 32px;
      }
      @media (max-width: 720px) {
         max-width: 100%;
         text-align: center;
      }
   }
   &__actions {
      display: flex;
      align-items: center;
      @media (max-width: 720px) {
         justify-content: center;
      }
      @media (max-width: 480px) {
         flex-direction: column-reverse;
         gap: 20px;
      }
   }
   &__banner {
      padding-left: 50px;
      flex: 0 1 50%;
      @media (max-width: 1024px) {
         padding-left: 20px;
         flex: 0 1 40%;
      }
      @media (max-width: 720px) {
         display: none;
      }
   }
}
.actions-main {
   &__button {
      display: inline-flex;
      padding: 15px 48px;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background-color: $primary-color;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: #b8481c;
      }
      color: $light-text-color;
      line-height: 150%; /* 24px/16 */
      font-weight: 600;
      &:not(:last-child) {
         margin-right: 40px;
      }
      @media (max-width: 480px) {
         &:not(:last-child) {
            margin-right: 0px;
         }
         width: 100%;
      }
   }
   &__icons {
      display: flex;
      max-height: 32px;
   }
   &__icon {
      &:not(:last-child) {
         margin-right: 28px;
      }
   }
}
.banner-main {
   &__image {
      position: relative;
      margin-right: -125px;
      max-width: 672px;
      padding-bottom: 107.6%;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         border-radius: 0 0 160px 360px;
         max-width: 100%;
      }
      &::after {
         position: absolute;
         content: "";
         background: url(/img/main/decor.svg) 0 0 no-repeat;
         width: 80px;
         height: 80px;
         bottom: 0;
         right: 36.3%;
         transform: translate(0, 50%);
      }
   }
}

//=================PAGE_STORE=============//
.store {
   &__title {
      margin-bottom: 92px;
      @media (max-width: 480px) {
         margin-bottom: 40px;
      }
   }
   &__body {
      &:not(:last-child) {
         margin-bottom: 102px;
         @media (max-width: 720px) {
            margin-bottom: 50px;
         }
      }
   }
}
.body-store {
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      margin-bottom: 32px;
   }
   &__title {
      text-transform: uppercase;
      font-size: 20px;
      @media (max-width: 720px) {
         font-size: 16px;
      }
      font-weight: 600;
      line-height: 150%; /* 30px/20 */
      letter-spacing: 1.6px;
   }
   &__all {
      color: $main-text-color;
      font-size: 20px;
      @media (max-width: 720px) {
         font-size: 16px;
      }
      font-weight: 500;
      line-height: 150%; /* 30px/20 */
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 54px;
      @media (max-width: 992px) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 720px) {
         grid-template-columns: repeat(1, 1fr);
         justify-items: center;
         gap: 24px;
      }
   }
   &__item {
      display: flex;
      flex-direction: column;
   }
}
.item-store {
   &__image {
      max-height: 190px;
      img {
         max-width: 100%;
         max-height: 100%;
      }
      &:not(:last-child) {
         margin-bottom: 40px;
         @media (max-width: 720px) {
            margin-bottom: 20px;
         }
      }
      transition: all 0.3s ease 0s;
      &:hover {
         transform: scale(1.1);
      }
   }
   &__title {
      align-self: flex-start;
      font-weight: 500;
      line-height: 150%; /* 24px/16 */
      &:not(:last-child) {
         margin-bottom: 7px;
      }
      &:hover {
         text-decoration: underline;
      }
   }
   &__price {
      font-size: 14px;
      line-height: 150%; /* 21px/14 */
   }
}

//=================PAGE_CATEGORIES=============//
.categories {
   &__container {
      max-width: 1088px;
   }
   &__title {
      margin-bottom: 80px;
      @media (max-width: 480px) {
         margin-bottom: 40px;
      }
   }
   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 70px;
      @media (max-width: 992px) {
         grid-template-columns: repeat(3, 1fr);
         column-gap: 35px;
      }
      @media (max-width: 767.9808px) {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 35px;
      }
      @media (max-width: 480px) {
         grid-template-columns: repeat(1, 1fr);
         column-gap: 35px;
         row-gap: 20px;
      }
      row-gap: 35px;
   }
}
.item-category {
   position: relative;
   &:hover .item-category__image img {
      transform: scale(1.1);
   }
   &__title {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center;
      padding: 30px 20px;
      font-size: 20px;
      line-height: 150%; /* 30px/20 */
      font-weight: 600;
      color: $light-text-color;
      z-index: 4;
   }
   &__image {
      display: block;
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      &::before {
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
         z-index: 2;
      }
      padding-bottom: 127%;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         transition: all 0.3s ease 0s;
      }
   }
}

//=================PAGE_BRANDS=============//
.brands {
   &__container {
      max-width: 1020px;
   }
   &__title {
      margin-bottom: 75px;
      @media (max-width: 480px) {
         margin-bottom: 15px;
      }
   }
   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 160px;
      row-gap: 80px;
      @media (max-width: 992px) {
         grid-template-columns: repeat(3, 1fr);
         column-gap: 35px;
      }
      @media (max-width: 767.9808px) {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 35px;
      }
      @media (max-width: 480px) {
         grid-template-columns: repeat(1, 1fr);
         column-gap: 35px;
         row-gap: 35px;
      }
   }
   &__item {
      text-align: center;
   }
}
.item-brand {
   &:hover .item-brand__image img {
      transform: scale(1.1);
   }
   &__image {
      display: inline-block;
      img {
         max-width: 100%;
         transition: all 0.3s ease 0s;
      }
   }
}

//=================PAGE_WHY=============//
.why {
   &__title {
      color: $light-text-color;
      margin-bottom: 75px;
      @media (max-width: 480px) {
         margin-bottom: 15px;
      }
   }
   &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 520px) {
         flex-direction: column;
         align-items: center;
      }
   }
   &__item {
      flex: 0 1 33.33%;
      height: 100%;
      @media (max-width: 767.9808px) {
         flex: 0 1 50%;
         margin-bottom: 25px;
      }
      max-width: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}
.item-why {
   &__icon {
      background-color: $dark-bgd-color;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
      &:not(:last-child) {
         margin-bottom: 40px;
      }
      img {
         max-width: 100%;
      }
   }
   &__title {
      color: $light-text-color;
      font-size: 18px;
      font-weight: 600;
      line-height: 150%; /* 27px/18 */
      letter-spacing: 1.44px;
      text-transform: uppercase;
      &:not(:last-child) {
         margin-bottom: 12px;
      }
   }
   &__text {
      text-align: center;
      font-size: 14px;
      line-height: 150%; /* 21px/14 */
      text-transform: capitalize;
   }
}

//============PAGE_CUSTOMERS=============//
.customers {
   &__title {
      margin-bottom: 110px;
      @media (max-width: 992px) {
         margin-bottom: 80px;
      }
      @media (max-width: 767.9808px) {
         margin-bottom: 50px;
      }
      @media (max-width: 480px) {
         margin-bottom: 40px;
      }
   }
}
.customers {
   &__swiper {
      .swiper {
         @media (max-width: 992px) {
            margin-left: -15px;
         }
      }
   }
}
.slide-swiper-customers {
   display: flex;
   @media (max-width: 992px) {
      flex-direction: column;
   }
   &__picture {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__image {
      width: 320px;
      height: 320px;
      @media (max-width: 520px) {
         width: 260px;
         height: 260px;
      }
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 38px;
         right: 90px;
         width: 284.724px;
         height: 257.893px;
         transform: rotate(-7.724deg);
         border-radius: 40px 0px 400px 400px;
         background: $primary-color;
         @media (max-width: 520px) {
            width: 200px;
            height: 150px;
         }
      }
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         top: 0;
         left: 0;
         object-fit: center;
      }
   }
   &__body {
      flex: 0 1 50%;
      padding-top: 30px;
      @media (max-width: 992px) {
         padding-left: 15px;
      }
   }
   &__text {
      font-size: 24px;
      @media (max-width: 992px) {
         font-size: 18px;
      }
      line-height: 160%; /* 38.4px */
      &:not(:last-child) {
         margin-bottom: 56px;
      }
      p:not(:last-child) {
         margin-bottom: 15px;
      }
   }
   &__name {
      color: #000;
      font-size: 24px;
      font-weight: 600;
      line-height: 160%; /* 38.4px */
      &:not(:last-child) {
         margin-bottom: 8px;
      }
   }
   &__role {
      color: #868686;
      font-size: 18px;
      font-weight: 500;
      line-height: 160%; /* 28.8px */
      letter-spacing: 1.44px;
      text-transform: uppercase;
   }
}
.swiper-customers__pagination {
   display: flex;
   align-items: center;
   gap: 8px;
   justify-content: flex-end;
   .swiper-pagination-bullet {
      flex: 0 0 10px;
      height: 16px;
      border-radius: 20px;
      background: #c4c4c4;
      &-active {
         transform: rotate(-90deg);
         flex: 0 0 12px;
         height: 24px;
         background: $primary-color;
      }
   }
}

//=================PAGE_FAVORITE=============//
.favorite {
   &__content {
      display: flex;
      @media (max-width: 767.9808px) {
         flex-direction: column;
      }
      @media (max-width: 480px) {
      }
      align-items: center;
   }
   &__body {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &__title {
      text-align: left;
      font-size: 48px;
      line-height: 139.583333%; /* 67px/48 */
      &:not(:last-child) {
         margin-bottom: 60px;
      }
      @media (max-width: 768px) {
         &:not(:last-child) {
            margin-bottom: 40px;
         }
         font-size: 32px;
      }
   }
   &__bages {
      display: flex;
      @media (max-width: 767.9808px) {
         justify-content: center;
         align-items: center;
      }
      @media (max-width: 480px) {
         flex-direction: column;
         gap: 10px;
         align-items: center;
      }
   }
   &__bage {
      display: block;
      &:not(:last-child) {
         margin-right: 26px;
      }
      @media (max-width: 767.9808px) {
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }
   }
   &__link {
      display: inline-block;
      img {
         max-width: 100%;
      }
   }
   &__image {
      flex: 0 1 50%;
      text-align: center;
      img {
         max-width: 100%;
      }
   }
}

//=================FOOTER=============//
